<mat-toolbar color="primary">

    <span>Sistema de Alquiler de Vehículos</span>

    <span class="spacer"></span>

    <a mat-button routerLink="/">Inicio</a>

    <a mat-button routerLink="/vehiculos">
        Vehículos
    </a>

    <a mat-button routerLink="/clientes">
        Clientes
    </a>

    <a mat-button routerLink="/alquileres">
        Alquileres
    </a>

    <a mat-button routerLink="/nosotros">
        Nosotros
    </a>

    <a mat-button routerLink="/contactanos">
        Contacto
    </a>

</mat-toolbar>